body {
    margin: 0em;
    padding: 0em;
}

.container {
    display: flex;
    height: 80vh;
}

header {
    height: 10vh;
}

footer {
    height: 10vh;
}

#padding {
    background-color: white;
}

#AuthBackground {
    border-radius: 2em;
    background-color: bisque;

}

#formElements {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formElement {
    border-radius: 1em;
    margin: 1em;
    min-height: 50px;
}