:root {
    --background: url("../../Images/image-2xpim7gy.png");
    --background-color: #171625;
    --second_background: #1f1c30;
    --input_border: #60597e;
    --input_background: #1f1b31;
    --input_text: #dad3fe;
    --button_background: #725ad7;
    --button_text: white;
    --title_text: white;
}


body {
    margin: 0em;
    padding: 0em;
    /* background-color: var(--background-color); */
    background-image: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

#padding {
    background-color: var(--background);
}

.inputLine {
    background-color: var(--input_background);
    color: var(--input_text);
    border-color: var(--input_border);
    border-width: 0.2em;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;
    font-size: medium;
}

#Button {
    background-color: var(--button_background);
    border-color: var(--button_background);
    border-bottom-width: 0.23em;
    border-left-width: 0em;
    border-top-width: 0em;
    border-right-width: 0.15em;
    color: var(--button_text);
    font-size: medium;
    font-weight: bold;
    border-radius: 0.7em;
}

#Button:hover {
    filter: brightness(0.92);
}

#Button:active {
    filter: brightness(0.88);

}

.container {
    background-color: var(--second_background);
    color: var(--input_text);
    margin: 2vh 1em 2vh 1em;
    min-height: 96vh;
    border-radius: 1em;
}

#statement {
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 0.5em;
    text-align: left;
    font-size: 20px;
    text-indent: 2em;
}

#solution {
    top: 1em;
    margin-left: 0.5em;
    height: 96vh;
    position: sticky;
}

#problemTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.inOutContainer {
    background-color: var(--input_background);
    color: var(--input_text);
    border-radius: 1em;
    border-color: var(--input_border);
    border-width: 0.2em;
    border-style: solid;
    padding: 1em;
    font-size: medium;
    margin: 1em;
    text-align: left;
    resize: none;

    outline: none;
}

#actionDiv {
    padding: 1em;
    font-size: medium;
    margin: 1em;
}

@media only screen and (max-width : 48em) {
    .solutionContainer {
        display: none;
    }
}