:root {
    --background: url("../../Images/image-2xpim7gy.png");
    --background-color: #171625;
    --second_background: #1f1c30;
    --input_border: #60597e;
    --input_background: #1f1b31;
    --input_text: #dad3fe;
    --button_background: #725ad7;
    --button_text: white;
    --title_text: white;
}

body {
    background-image: var(--background);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--input_text);
    text-align: center;
}